<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>
<h2>here</h2>

<form method="GET" action="/answer">
  <input type="text" name="input" placeholder="hi">
  <input type="submit" value="Ask!">
</form>
